@import '../../assets/sass/base.scss';


.social_main {
    display: flex;
    justify-content: center;
    width: 50%;
    padding: 0 10px 0 10px;
    &__link{
        display: inline-block;
        width: 32px;
        height: 32px;
        }

    &__img{
    max-width: 100%;
    max-height: 100%;
    fill: rgba(255,255,255, .8);
    &:hover{
        fill: $green;
    }
}
&__list{
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    justify-content: flex-start;
}
&__item + &__item{
    margin-left: 15px;
}
}


.section-header{
    font-family: 'Roboto',  Arial, Helvetica, sans-serif;
    background-image: url('../../images/bkgs/forest.png');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    color: $white;
    font-weight: normal;
    font-style: normal;
    min-width: 600px;
    flex-direction: column;
    min-height: 650px;
    height: 100vh;
    position: relative;
}

.section-header-top {
    display: flex;
    justify-content: space-around;
    width: 100%;
    margin-bottom: 10px;
    flex: 0 0 auto;
}

.header-container{
    padding: 20px 30px;
    height: 90%;
}
.hamburger-menu {
    width: 50%;
    display: flex;
    justify-content: flex-end;
}
.hamburger-check{
    width: 40px;
    height: 40px;
}
.hamburger-menu__img {
    max-width: 100%;
    max-height: 100%;
    fill: white;
    cursor: pointer;
}

.describe{
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-width: 250px;
    max-width: 90%;
    z-index: 200;
    justify-content: center;
    
    &-image{
        width: 140px;
        height: 140px;
        border-radius: 50%;
        overflow: hidden;
        margin-bottom: 15px;

        &__photo{
       
            max-width: 100%;
     }

    }

        &-text{
            font-family: 'Roboto', Arial, Helvetica, sans-serif;
            color: #ffffff;
            font-weight: normal;
            font-style: normal;
            display: block;
            margin-bottom: 30px;
            width: 100%;
            padding: 0 60px;
            text-align: center;
        }

        &-title{
            font-weight: 500;
            font-style: normal;
            font-size: 35px;
            margin-bottom: 10px;
        }

        &-desc{
            font-weight: 500;
            font-style: normal;
            font-size: 16px;
        }
}

.section-header-main {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 60px;
    margin-bottom: 30px;
    position: relative;
    flex: 1 0 auto;
    flex-direction: column;
    height: 80%;
}

.describe-text {
    font-family: 'Roboto', Arial, Helvetica, sans-serif;
    color: #ffffff;
    font-weight: normal;
    font-style: normal;
    display: block;
    margin-bottom: 30px;
    width: 100%;
    padding: 0 60px;
    text-align: center;
}
.about-title {
    min-width: 1250px;
    min-height: 321px;
    /* height: 100vh; */
    background: url('../../images/icons/portfolio_header.svg');
    background-repeat: no-repeat;
    background-size: contain;
    position: absolute;
    z-index: 100;
    opacity: 0.2;
    margin: 0 30px;
    left: 250px;
}

.arrow {
    width: 24px;
    height: 24px;
    display: block;
    &:hover > .arrow__img{
        fill: $gray;
    }
}

.arrow__img {
    max-width: 100%;
    max-height: 100%;
    fill: #c3d5cb;
}

.arrow-content {
    position: absolute;
    top: 100%;
    left: 49.4%;
    display: block;
    content: "";
}

.section-footer {
    position: absolute;
    top: 83%;
    width: 100%;
}

.triangle{
    display: block;

    &>.left{
        fill: #ebefe2;
    }

    &>.right{
        fill: $white;
    }

}

.title-underline_about{
    color: #373e42;
    font-family: 'SansusWebissimo', Arial, Helvetica, sans-serif;
        font-weight: normal;
        font-style: normal;
        font-size: 63px;
}


.about__content {
    display: flex;
    height: 100vh;
    width: 100%;
    min-height: 650px;
}

.about-me {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 40px;
}
.about-me__title-about {
    margin-bottom: 40px;
    width: 100%;
    display: flex;
    justify-content: center;
    position: relative;
    flex-direction: column;
    align-items: center;
}

.content-me {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-grow: 1;
    background-color: #ebefe2;
    padding: 10px 60px;
}

.title-underline_about {
    color: #373e42;
    font-family: 'SansusWebissimo', Arial, Helvetica, sans-serif;
    font-weight: normal;
    font-style: normal;
    font-size: 63px;
    text-align: center;
}

.who-am__title-who{
    margin-bottom: 40px;
    width: 100%;
    display: flex;
    justify-content: center;
    position: relative;
    flex-direction: column;
    align-items: center;
}
.title-underline_who{
    color: #566358;
    font-family: 'SansusWebissimo', Arial, Helvetica, sans-serif;
    font-weight: normal;
    font-style: normal;
    font-size: 35px;
    text-align: center;
}


.about-me-img {
    min-width: 400px;
    height: 387px;
    text-align: center;
}

.about-me-img__photo {
    max-width: 100%;
    max-height: 100%;
    vertical-align: middle;
}

.who-am {
    display: flex;
    flex-direction: column;
    align-items: center;

}

.underline-about-me { @include underline(90px,3px,#373e42) }
.underline-who { @include underline(90px,3px,#566358) }
.underline-utility { @include underline(90px,3px,#566358) }

.who-am__desc{
    color: #566358;
    font-family: 'Roboto', Arial, Helvetica, sans-serif;
    font-weight: normal;
    font-style: normal;
    font-size: 16px;
    text-align: left;
}


.content-me_white {
    background-color: white;
}

.title-underline_utility{
    color: #566358;
    font-family: 'SansusWebissimo', Arial, Helvetica, sans-serif;
    font-weight: normal;
    font-style: normal;
    font-size: 35px;
    text-align: center;
}
.utility-desc__text{
    color: #566358;
    font-family: 'Roboto', Arial, Helvetica, sans-serif;
    font-weight: normal;
    font-style: normal;
    font-size: 16px;
    text-align: left;
}
.utility-desc {
    display: flex;
    flex-direction: column;
    align-items: center;

}

.utility-desc__title {
    margin-bottom: 40px;
    width: 100%;
    display: flex;
    justify-content: center;
    position: relative;
    flex-direction: column;
    align-items: center;
}

.skill-group-title {
    font-family: 'Roboto', Arial, Helvetica, sans-serif;
    font-weight: 500;
    font-style: normal;
    color: #566358;
    font-size: 28px;
    text-align: left;
    margin-bottom: 20px;
    display: block;
}

.utility-skills {
    width: 100%;
    display: flex;
    margin-top: 20px;
}

.skills-group-list {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.skills-list {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;

    &__item + &__item{
        margin-left: 37px;
    }
}

.skills-group-item {
    margin-bottom: 20px;
}

#map {
    width: 100%;
    height: 90%;
}

.section{
    display: flex;
    height: 100vh;
    width: 100%;
    min-width: 650px;
    background-color: crimson;
}

.map{
    position: relative;
}