mixin header(className)
    header(class=`header ${className}`)
        if className = 'header-welcome'
            include ./roundHref

mixin footer(className)
    footer(class=`footer ${className}`)
        h2 footer