include ./_mixins

footer.footer.footer-main
            .footer-main-left= 'Этот сайт я сделал в рамках программы обучения в LoftSchool'
            .footer-main-center
                +welcomeNav([{page:'works',title:'Мои работы'},{page:'about',title:' Обо мне'},{page:'blog',title: 'Блог'}],'footer-btn',0)
                +socialIcons('social-footer', [{link:'http://vk.com',img: 'vk'},{link:'http://vk.com',img: 'github'},{link:'http://vk.com',img: 'in'}],0)
            .footer-main-right= 'gdfgdfgfgfgdfgdg'
            include ./footer