.describe
    .describe-image
        img.describe-image__photo(src=("./images/photo.jpg"), alt="")
    .describe-text
        h2.describe-title= 'Салтрукович Юлия'
        .describe-desc= 'Личный сайт веб-разработчика'