-var pages = [{page:'works',title:'Мои работы'},{page:'about',title:' Обо мне'},{page:'blog',title: 'Блог'}]
nav.welcome-btns
    ul.welcome-btns__list
        each item in pages
            li.welcome-btns__item
                a.welcome-btns__link(href=`./${item.page}.html`)=item.title