include ./_mixins

.content.welcome__content
    .welcome-describe
        .welcome-describe__img
            img.welcome__photo(src=require("../../images/photo.jpg"), alt="")
        .welcome-describe__text
            h2.welcome-describe__title Салтрукович Юлия
            .welcome-describe__desc Личный сайт веб-разработчика
        +socialIcons('social', [{link:'http://vk.com',img: 'vk'},{link:'http://vk.com',img: 'github'},{link:'http://vk.com',img: 'in'}])
        +welcomeNav([{page:'works',title:'Мои работы'},{page:'about',title:' Обо мне'},{page:'blog',title: 'Блог'}])
    .welcome-auth.welcome-describe
        h2.auth__title Авторизуйтесь
        .auth__form
            .form
                .form__wrapper
                    .form-row
                        .login
                            label.form-row__label.form-row__label_login
                                input(type="text", name="", placeholder="Логин" class="form__input")
                    .form-row
                        .password
                            label.form-row__label.form-row__label_password
                                input(type="password", name="", , placeholder="Пароль"  class="form__input")
        +welcomeNav([{page:'works',title:'На главную'},{page:'about',title:'Войти'}])
