@import '../../assets/sass/mixins.scss';

.footer-main{
    position: absolute;
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    height: 346px;
    flex-direction: row;
    background-color: rgba(#373e42, .7);
    content: '';
    top: 100%;
    margin-top:-346px;

    @include tablets{
        height: 273px;
        margin-top:-273px;
    }
    
    @include laptop{
        height: 180px;
        margin-top:-180px;
    }
}



.footer-main-col{
    display: flex;
    flex-grow: 1;
    width: 100%;
    flex-direction: column;
    text-align: center;

    @include tablets{
        width: 50%;
    }

    @include laptop{
        text-align: left;
        flex-grow: 0;
        width: 33.3%;

    }
}

.footer-btn__list{
    display: flex;
    font-family: 'Roboto', Arial, Helvetica, sans-serif;
    font-weight: 500;
    font-style: normal;
    font-size: 16px;
    width: 100%;
    justify-content: space-between;
    margin-bottom: 12px;
}
.footer-btn__link{
    color:rgba(255,255,255, 1);
&:hover{
    text-decoration: underline;
}
}
.social-footer__list{
    display: flex;
    width: 100%;
    justify-content: center;

    @include laptop{
        justify-content: flex-start;
    }
}

.social-footer__item+.social-footer__item{
    margin-left: 26px;
}

.footer__title{
    display: flex;
    flex-direction:column;
    align-items:center;
    width: 100%;


@include tablets{
    flex-direction:row;
    justify-content: center;
    margin: 20px 0 20px 0;
}
}
.footer__item:before{
    content: "";
    margin: 0;

     @include tablets{
        content: "|";
        margin: 0 5px 0 5px;
}
}

.footer__item:first-child:before{
    content: "";
    margin: 0;
}
.social-footer__link{
    display: flex;
    width: 32px;
    height: 32px;
   
    &:hover .social-footer__img{
        fill: white;
    }
}


.social-footer__img{
    width: 100%;
    fill: #a1a7a5;
}


.footer-full{
    font-family: 'Roboto', Arial, Helvetica, sans-serif;
    color: #ffffff;
    font-weight: 300;
    font-style: normal;
    font-size: 16px;
    display: flex;
    height: 288px;
    width: 100%;
    padding: 15px;
    flex-direction: column;

    @include tablets{
        height: 235px;
        flex-direction: row;
        padding: 25px;
        flex-wrap: wrap;
    }

    @include laptop{
        height: 140px;
        flex-direction: row;
        padding: 25px;
    }
}

.footer-main-col+.footer-main-col{
    border-top: 1px solid rgba(255, 255, 255, 0.7);
    padding: 10px;
    margin-top: 5px;

    @include tablets{
        border-left: 1px solid rgba(255,255,255, .7);
        padding: 0 25px;
        border-top: none;
        margin-top: 0;
    }

    @include laptop{
        border-left: 1px solid rgba(255,255,255, .7);
        padding: 0 25px;
        border-top: none;
        margin-top: 0;
    }

}

.footer-other{
    font-family: 'Roboto', Arial, Helvetica, sans-serif;
    color: #ffffff;
    font-weight: 300;
    font-style: normal;
    font-size: 16px;
    height: 58px;
    background-color: #80a971;
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 5px;

    @include tablets{
        height: 38px;
    }

    @include laptop{
        height: 40px;
    }
}

.footer-blockquote{
    font-family: 'Roboto', Arial, Helvetica, sans-serif;
    color: #ffffff;
    font-weight: 300;
    font-style: italic;
    font-size: 16px;
    margin-bottom: 15px;
}


.footer-cite{
    font-family: 'Roboto', Arial, Helvetica, sans-serif;
    color: #ffffff;
    font-weight: 500;
    font-style: italic;
    font-size: 16px;
}

.section-position-footer{
    position: relative;
    padding-bottom: 346px;

    @include tablets{
        padding-bottom: 273px;
    }
    @include laptop{
        padding-bottom: 180px;
    }
}