@import '../../assets/sass/mixins.scss';

.social_main {
    display: flex;
    justify-content: center;
    width: 50%;
    padding: 0 10px 0 10px;
    &__link{
        display: inline-block;
        width: 32px;
        height: 32px;
        }

    &__img{
    max-width: 100%;
    max-height: 100%;
    fill: rgba(255,255,255, .8);
    &:hover{
        fill: $green;
    }
}
&__list{
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    justify-content: flex-start;
}
&__item + &__item{
    margin-left: 15px;
}
}

.arrow__img {
    max-width: 100%;
    max-height: 100%;
    fill: #c3d5cb;
}

.blog-text {
    width: 350px;
    height: 50%;
    background: url('../../images/icons/works_header.svg');
    background-repeat: no-repeat;
    background-size: contain;
    position: absolute;
    z-index: 100;
    opacity: 0.2;
    top: 50%;
    left: 43%;
}




.section-footer {
    position: absolute;
    top: 83%;
    width: 100%;
}

.triangle{
    display: block;

    &>.left{
        fill: #ebefe2;
    }

    &>.right{
        fill: $white;
    }

}

.work__content {
    flex-direction: column;
    align-items: center;
    padding: 0 10px;
    height: 100vh;
    min-height: 650px;
    width: 100%;

}


.blog-title{
    background-image: url('../../images/icons/works_header.svg');
}


.work-title {
    display: flex;
    width: 100%;
    justify-content: center;
    height: 25%;
}

.work-around {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    flex-direction: column;

    @include laptop{
        height: 100vh;
    }
}

.work-main-left {
    background-color: #ebefe2;
    width: 100%;
    justify-content: center;
    align-items: center;
    display: flex;
    padding: 10px 15px;
    order:2;

    @include laptop{
        width: 50%;
        height: 100%;
        order:1;
    }
}

.work-main__left {
    display: flex;
    flex-direction: column;
    align-items: center;
}


.title-underline_describe{
    font-family: 'SansusWebissimo', Arial, Helvetica, sans-serif;
    color: #566358;
    font-weight: normal;
    font-style: normal;
    display: block;
    margin-bottom: 30px;
    width: 100%;
    padding: 0 60px;
    text-align: center;
    font-size: 35px;
    text-transform: uppercase;
}

.work-title {
    display: flex;
    width: 100%;
    justify-content: center;
    height: 25%;
}

.link-img {
    width: 20px;
    height: 20px;
}

.link-img__svg {
    max-height: 100%;
    max-width: 100%;
    fill: white;
}


.see__link{
    font-family: 'Roboto', Arial, Helvetica, sans-serif;
    color: #ffffff;
    font-size: 16px;
    display: inline-flex;
    font-weight: normal;
    font-style: normal;
    padding: 16px 20px 16px 25px;
    background: #6c9c5a;
    border-radius: 25px;

    &:before{
        background-image: url('../../images/icons/link.svg');
        width: 25px;
        height: 25px;
        background-repeat: no-repeat;
        content: "";
        display: inline-flex;
        margin-right: 10px;
    }
}

.left-skills{
    display: flex;
    justify-content: center;
    margin-bottom: 20px;

}

.left__describe{
    margin-bottom: 20px;
}

.left-skills_name {
    display: block;
    font-family: 'Roboto', Arial, Helvetica, sans-serif;
    font-weight: normal;
    text-transform: uppercase;
    font-style: normal;
    font-size: 16px;
    color: green;
    margin-right: 17px;
}


.work-main_right{
    background-color: #e1e4d7;
    width: 100%;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    order:1;

    @include laptop{
        width: 50%;
        height: 60%;
        order:2;

    }
}


.slider-btns {
    display: flex;
    width: 100%;
    order: 3;
    @include laptop{
        width: 50%;
        height: 40%;
       
    }
}


.slider-prev {
    display: flex;
    width: 50%;
    height: 100%;
    align-items: center;
    padding: 20px;
    position: relative;
    flex-direction: column;
    justify-content: center;
}

.slider-next {
    display: flex;
    width: 50%;
    height: 100%;
    align-items: center;
    padding: 20px;
    position: relative;
    flex-direction: column;
    justify-content: center;
}

.slider-prev-img {
    width: 75%;
    height: 75%;
}

.slider-next-img {
    width: 75%;
    height: 75%;
}



.slider-show-img {
    width: 45%;
    height: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.slider-show__img {
    max-width: 100%;
}

.slider-show {
    display: flex;
    width: 50%;
    max-height: 70%;
    justify-content: center;
    align-items: center;
}

.slider-prev__img {
    width: 100%;
    height: 100%;

}


.slider-next__img {
    width: 100%;
    height: 100%;

}


.triangle{
    display: block;

    &>.works-left{
        fill: white;
    }

    &>.works-right{
        fill: $white;
    }

}


.title-underline_works{
    color: #373e42;
    font-family: 'SansusWebissimo', Arial, Helvetica, sans-serif;
    font-weight: normal;
    font-style: normal;
    font-size: 63px;
    text-align: center;
    z-index: 100;
    margin-bottom: 35px;

    &:after{
        background-color:#373e42;
        border: 2px solid #373e42;
    }
}


.works-title{
    height: 6%;
    width: 100%;
    z-index: 50;
    opacity: 0.1;
    left: 3%;
    top: -30px;
    transform: translateX(-3%);
    position: absolute;
&__img{
    width: 100%;
    height: 100%;
    fill: #93c42e;
}
}


.title-underline_site{
    color: #566358;
    font-family: 'SansusWebissimo', Arial, Helvetica, sans-serif;
    font-weight: normal;
    font-style: normal;
    font-size: 35px;
    text-align: center;
    z-index: 100;

    &:after{
        background-color:#566358;
        border: 2px solid #566358;
    }
}

.slider-btns__down, .slider-btns__up{
    position: absolute;
    background-color: rgba(0,0,0, .3);
    content: "";
    display: flex;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.slider-btns__up{
    position: absolute;
    content: "";
    display: flex;
    align-items: center;
    justify-content: center;
}
.btn-down{
    width: 32px;
    height: 32px;
}


.btn-arrow{
    width: 100%;
    height: 100%;
    fill: white;
}
.works-title-about {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 20%;
    width: 100%;
    margin-bottom: 11px;
    flex-wrap: wrap;
    position:relative;
}
.title-underline-about_works{
    color: #373e42;
    font-family: 'SansusWebissimo', Arial, Helvetica, sans-serif;
    font-weight: normal;
    font-style: normal;
    font-size: 35px;
    text-align: center;
    z-index: 100;
    margin-bottom: 35px;
    z-index:2;


    &:after{
        background-color:#373e42;
        border: 2px solid #373e42;
    }
}
.works-title-main {
    height: 20%;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.about-me {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #f4f5f0;
    background-image: url('../../images/bkgs/list1200.png');
    width: 100%;
    background-repeat: no-repeat;
    background-position: center bottom;
    background-size: cover;
    padding-top: 20px;
    padding-bottom: 346px;
    position: relative;

    @include tablets{
        padding-bottom: 273px;
    }

    @include laptop{
        padding-bottom: 180px;
    }
}

.works-title_about {
    position: absolute;
    top: 38%;
    left: 50%;
    width: 100%;
    height: 75%;
    display: block;
    transform: translate(-50%,-50%);
}

.works-about-img{
    width:100%;
    height: 100%;
    fill: rgba(147,196,46, .2);
}

.works-reviews {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;

    @include tablets{
        flex-direction: row;
    }
}

.review-img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    overflow: hidden;
}

img.review__img {
    width: 100%;
    
}
.review-text{
    font-family: 'Roboto',  Arial, Helvetica, sans-serif;
    color: #5d5a55;
    font-size:16px;
    text-align: left;
    font-weight: normal;
    font-style: italic;
    position: relative;
}

.review-quote {
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    width: 50px;
    height: 50px;
}

.review-quote__img{
    width:100%;
    height:100%;
   fill: rgba(147,196,46, .2);
}

.review-author{
    font-family: 'Roboto',  Arial, Helvetica, sans-serif;
    color: #4e8839;
    font-size:16px;
    text-align: left;
    font-weight: bold;
    font-style: italic;
}
.review-author-work{
    font-family: 'Roboto',  Arial, Helvetica, sans-serif;
    color: #373e42;
    font-size:16px;
    text-align: left;
    font-weight: bold;
    font-style: italic;
}

.reviews-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-basis: 194px;
    align-items: center;
    margin: 10px 20px;

    @include tablets{
        flex-basis: 380px;
    }
}

.works-form {
    position: relative;
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin: 20px;
    max-width: 80%;
    border-radius: 5px;
    z-index: 1;

    &:before{
        position: absolute;
        content: "";
        filter: blur(20px);
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        z-index: -1;
        background-size: contain;
        background-position: 0px center;
        background-repeat: initial;
        background-attachment: fixed;
        margin: -10px;
        background-image: url('../../images/bkgs/list1200.png');
    }
}


.form-btns{
    font-family: 'Roboto', Arial, Helvetica, sans-serif;
    color: #ffffff;
    font-size: 16px;
    font-weight: 500;
    font-style: normal;
    display: flex;
    width: 100%;

    &__list{
        width: 100%;
        display: flex;
    
    }
 
    &__item{
        display: flex;
        flex-grow: 1;
        flex-wrap: wrap;
        width: 100%;
    }
    &__item:first-child > .welcome-btns__link{
        border-radius: 0 0 0 4px;
    } 
    
    &__item:last-child > .welcome-btns__link{
        border-radius: 0 0 4px 0;
    } 

    &__item + &__item{
        border-left: 2px solid rgba(255, 255, 255, 0.7);
    }
}

.works-form-wrapper{
     z-index: 100;
      text-align: center;
       padding:0 20px;

}

.auth-form-wrapper {
    display: flex;
    flex-direction: column;
}

.auth-form-row {
    padding: 15px 20px;
}

.auth-form__input{
    background-color: white;
    border-radius: 23px;
    width: 100%;
    padding: 15px 20px;
    resize: none;
}

.title-underline-form{
    color: #373e42;
    font-family: 'SansusWebissimo', Arial, Helvetica, sans-serif;
    font-weight: normal;
    font-style: normal;
    font-size: 35px;
    text-align: center;
    z-index: 100;
    margin-bottom: 35px;
    z-index:2;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    height: 20%;
    margin-bottom: 15px;
    &:after{
        background-color:#373e42;
        border: 2px solid #373e42;
    }
}

.welcome-btns__link{
    color: white;
    background-color: #618f55;
    padding: 15px 15px;
    display: flex;
    flex-grow: 1;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 100%;

    &:hover{
        background-color: #487e38;
    }
}