.wrapper{
    min-width: 360px;
    width:100%;
    display: flex;
    flex-direction: column;
    min-height: 639px;

    @include tablets{
         
        min-width: 767px;
}

   @include laptop{
  
    min-width: 1199px;
}

@include desctop{
  
        min-width: 1799px;
    }
}

.header{
    display: flex;
    flex: 0 0 auto;
}

.content{
    display: flex;
    flex: 1 0 auto;
}

.footer{
    display: flex;
    flex: 0 0 auto;
}


.main-link{
    font-family: 'Roboto',  Arial, Helvetica, sans-serif;
    font-weight: 500;
    font-style: normal;
    font-size: 16px;
    color: $white;
    border: 1px solid $white;
    border-radius: 50px;
    padding: 14px 28px;
    transition-property:  background-color;
    &:hover{
        background-color: rgba(78,136,57,0.5);
        border-color: #729e19;
    }
    &:active{
        background-color: rgba(78,136,57,0.8);
        border-color: #729e19;
    }
}


.describe-img{
    background-color: rgba(0, 0, 0, 0.4);
    height: 100%;
    border-radius: 4px;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-width: 250px;
    max-width: 90%;
}

.describe-photo{
    max-width: 140px;
    max-height: 140px;
    border-radius: 50%;
    overflow: hidden;
    margin-top: 40px;
    margin-bottom: 15px;
    }

 .describe-text{
        font-family: 'Roboto', Arial, Helvetica, sans-serif;
        color: #ffffff;
        font-weight: normal;
        font-style: normal;
        display: block;
        margin-bottom: 30px;
        width: 100%;
        padding: 0 60px;
        text-align: center;
    }

.describe-title{
        font-weight: 500;
        font-style: normal;
        font-size: 28px;
        margin-bottom: 10px;
    }

.describe-desc{
        font-weight: 500;
        font-style: normal;
        font-size: 16px;
    }

    .title-underline{
        font-family: 'SansusWebissimo', Arial, Helvetica, sans-serif;
        font-weight: normal;
        font-style: normal;
        font-size: 35px;
        z-index: 2;
        padding-bottom: 32px;
        position: relative;
        text-align: center;
        color: #373e42;
        text-transform: uppercase;

        &:after{
            content:'';
            position: absolute;
            width: 90px;
            background-color:#373e42;
            border: 2px solid #373e42;
            left:50%;
            height: 2px;
            bottom: 0;
            transform: translateX(-50%);

        }
    }

    .describe-image_other{
        width: 147px;
        height: 147px;
        margin-bottom: 32px;
    }

    .about-title {
        height: 71%;
        width: 85%;
        z-index: 1;
        opacity: 0.2;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        position: absolute;

        &__img{
            width: 100%;
            height: 100%;
            fill: $white;
        }
    }

    .footer-main{
        position: absolute;
        display: flex;
        flex-wrap: wrap;
        width: 100%;
        height: 180px;
        flex-direction: row;
        background-color: rgba(#373e42, .7);
        content: '';
        top: 100%;
        margin-top:-180px;
    }


    .other{
        position: relative;
        // padding-bottom: 170px;
    }

    .footer-main-col{
        display: flex;
        flex-grow: 1;
        width: 100%;
        flex-direction: column;
    }

    .footer-btn__list{
        display: flex;
        font-family: 'Roboto', Arial, Helvetica, sans-serif;
        font-weight: 500;
        font-style: normal;
        font-size: 16px;
        width: 100%;
        justify-content: space-between;
        margin-bottom: 12px;
    }
    .footer-btn__link{
        color:rgba(255,255,255, 1);
    &:hover{
        text-decoration: underline;
    }
    }
    .social-footer__list{
        display: flex;
        width: 100%;
        justify-content: flex-start;
    }

    .social-footer__item+.social-footer__item{
        margin-left: 26px;
    }
.footer__title{
    display: flex;
    flex-direction:column;
    align-items:center;
   
    width: 100%;
    margin: 20px 0 20px 0;

    @include tablets{
        flex-direction:row;
        justify-content: center;
    }
}
    .footer__item:before{
        content: "";
        margin: 0;

         @include tablets{
            content: "|";
            margin: 0 5px 0 5px;
    }
    }
    
    .footer__item:first-child:before{
        content: "";
        margin: 0;
    }
    .social-footer__link{
        display: flex;
        width: 32px;
        height: 32px;
       
        &:hover .social-footer__img{
            fill: white;
        }
    }


    .social-footer__img{
        width: 100%;
        fill: #a1a7a5;
    }



    .section-poly {
        position: absolute;
        width: 100%;
        bottom:100%;
    }
    
    .triangle{
        display: block;
    
        &>.left{
            fill: #ebefe2;
        }
    
        &>.right{
            fill: $white;
        }
    
    }



    .footer-full{
        font-family: 'Roboto', Arial, Helvetica, sans-serif;
        color: #ffffff;
        font-weight: 300;
        font-style: normal;
        font-size: 16px;
        display: flex;
        height: 140px;
        width: 100%;
        padding: 25px;
    }

    .footer-main-col+.footer-main-col{
        border-left: 1px solid rgba(255,255,255, .7);
        padding: 0 25px;
    }

    .footer-other{
        font-family: 'Roboto', Arial, Helvetica, sans-serif;
        color: #ffffff;
        font-weight: 300;
        font-style: normal;
        font-size: 16px;
        height: 40px;
        background-color: #80a971;
        width: 100%;
        display: flex;
        justify-content: center;
        padding: 5px;
    }

    .footer-blockquote{
        font-family: 'Roboto', Arial, Helvetica, sans-serif;
        color: #ffffff;
        font-weight: 300;
        font-style: italic;
        font-size: 16px;
        margin-bottom: 15px;
    }


    .footer-cite{
        font-family: 'Roboto', Arial, Helvetica, sans-serif;
        color: #ffffff;
        font-weight: 500;
        font-style: italic;
        font-size: 16px;
    }

    

.other-content {
    display: flex;
    flex-direction: column;
    width: 100%;
    min-height: 650px;
    position: relative;
    padding-bottom: 180px;
}

.authhide{
    visibility:hidden;
    opacity: 0;
}


.social_main {
    display: flex;
    justify-content: center;
    width: 50%;
    padding: 0 10px 0 10px;
    &__link{
        display: inline-block;
        width: 32px;
        height: 32px;
        }

    &__img{
    max-width: 100%;
    max-height: 100%;
    fill: rgba(255,255,255, .8);
    &:hover{
        fill: $green;
    }
}
&__list{
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    justify-content: flex-start;
}
&__item + &__item{
    margin-left: 15px;
}
}
