
.circles {
    fill: none;
    stroke-width: 15;
  }
  .circle__first {
    stroke: #dfdcd5;
  }
  .circle__second {
    stroke: #74a163;
    stroke-dasharray: .0010 282.6;
    transition: all 1s;
  }
  
  .skills-list__item {
    position: relative;
    display: inline-block;
    width: 110px;
    height: 110px;
    margin: 15px;

    @include tablets{
      width: 110px;
      height: 110px;
    }

    @include laptop{
      width: 150px;
      height: 150px;
    }
  }
  
  .item__title {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    font-size: 12px;
    font-family: Arial, Helvetica, sans-serif;
    color: #74a163;
    font-weight: bold;
    word-break: break-all;

    @include tablets{
      font-size: 13px;
    }

    @include laptop{
      font-size: 18px;
    }
  }
  .circles .circle-0 {
     stroke-dasharray: .001 282.6;
  }
  .circles .circle-5 {
    stroke-dasharray: 14.13 282.6;
  }
  .circles .circle-10 {
     stroke-dasharray: 28.26 282.6;
  }
  .circles .circle-15 {
     stroke-dasharray: 42.39 282.6;
  }
  .circles .circle-20 {
     stroke-dasharray: 56.52 282.6;
  }
  .circles .circle-25 {
     stroke-dasharray: 70.65 282.6;
  }
  .circles .circle-30 {
     stroke-dasharray: 84.78 282.6;
  }
  .circles .circle-35 {
     stroke-dasharray: 98.91 282.6;
  }
  .circles .circle-40 {
     stroke-dasharray: 113.04 282.6;
  }
  .circles .circle-45 {
     stroke-dasharray: 127.17 282.6;
  }
  .circles .circle-50 {
     stroke-dasharray: 141.3 282.6;
  }
  .circles .circle-55 {
     stroke-dasharray: 155.43 282.6;
  }
  .circles .circle-60 {
     stroke-dasharray: 169.56 282.6;
  }
  .circles .circle-65 {
     stroke-dasharray: 183.69 282.6;
  }
  .circles .circle-70 {
     stroke-dasharray: 197.82 282.6;
  }
  .circles .circle-75 {
     stroke-dasharray: 211.95 282.6;
  }
  .circles .circle-80 {
     stroke-dasharray: 226.08 282.6;
  }
  .circles .circle-85 {
     stroke-dasharray: 240.21 282.6;
  }
  .circles .circle-90 {
     stroke-dasharray: 254.34 282.6;
  }
  .circles .circle-95 {
     stroke-dasharray: 268.47 282.6;
  }
  .circles .circle-100 {
     stroke-dasharray: 282.6 282.6;
  }