.footer-main{
    position: absolute;
    display: block;
    top:94%;
    width: 100%;
}

.footer-main__list{
    width: 100%;
    display: flex;
    background-color: rgba(0,0,0, .7);
}

.footer-main__item {
    display: flex;
    justify-content: center;
}

a.footer-btn__link {
    display: block;
    color:white;
    
}