@mixin display1800 {
  @media screen and (min-width: $display1800) {
    @content;
  }
}

@mixin display1200 {
  @media screen and (min-width: $display1200) {
    @content;
  }
}

@mixin tablets {
  @media screen and (min-width: $tablets) {
    @content;
  }
}

@mixin phones {
  @media screen and (min-width: $phones) {
    @content;
  }
}
  
@mixin underline($width,$height,$color){
  width: $width;
  height: $height;
  border: 1px solid $color;
}