extends ../base 
include ../../components/_mixins

block head
    title Добро пожаловать!

block wrapper
    .wrapper.welcome.welcome-bg
        include ../../components/welcomeHeader
        block content
            include ../../components/welcomeContent
        block footer
            include ../../components/welcomeFooter

    