@import '../../assets/sass/base.scss';

.welcome{
    font-family: 'Roboto',  Arial, Helvetica, sans-serif;
    color: $white;
    font-weight: normal;
    font-style: normal;
         @include tablets{
            height: 100vh;
    }

        @include laptop{
             height: 100vh;
    }

 @include desctop{
       
    height: 100vh;

         }


    &-bg{
            background-image: url('../../images/bkgs/forest-s.png');
            background-color: #d2d2d2;
            background-position: center center;
            background-repeat: no-repeat;
            background-size: cover;
    
     @include tablets{
         
             background-color: #d2d2d2;
            background-image: url('../../images/bkgs/forest-m.png');
    }

        @include laptop{
       
            background-color: #d2d2d2;
            background-image: url('../../images/bkgs/forest-l.png');
    }

 @include desctop{
       
             background-color: #d2d2d2;
            background-image:url('../../images/bkgs/forest-xl.png');

         }


    }
    &__header{
        padding: 20px;
        justify-content: center;
        display: flex;
        margin-bottom: 20px;

        @include desctop{
            padding: 22px 92px 20px 20px;
            justify-content: flex-end;
        }
            @include laptop{
       
           padding: 20px 55px 20px 20px;
            justify-content: flex-end;
    }
      @include tablets{
         
           padding: 20px 55px 20px 20px;
            justify-content: flex-end;
    }
}
    &__content{
        justify-content: center;
        margin-bottom: 40px;
        align-items: center;
        flex-direction: column;
}

    &-describe{
        background-color: rgba(0, 0, 0, 0.4);
        padding: 40px 20px 36px 20px;
        width: 100%;

        &__img{
        max-width: 140px;
        max-height: 140px;
        border-radius: 50%;
        overflow: hidden;
        margin: 0 auto 15px;
        }

        &__text{
            font-family: 'Roboto', Arial, Helvetica, sans-serif;
            color: #ffffff;
            font-weight: normal;
            font-style: normal;
            display: flex;
            width: 100%;
            padding: 0 45px;
            text-align: center;
            flex-direction: column;
            margin-bottom: 30px;
            align-items: center;
        }

        &__title{
            font-weight: 500;
            font-style: normal;
            font-size: 28px;
            margin-bottom: 10px;
        }

        &__desc{
            font-weight: 500;
            font-style: normal;
            font-size: 16px;
        }
    }
    &__photo{
        max-width: 100%;
    }
}


.social_welcome{
    display: flex;
    justify-content: center;
    width: 100%;
    padding: 0 10px 0 10px;

    &__link{
    display: inline-block;
    width: 32px;
    height: 32px;
    }

    &__img{
    max-width: 100%;
    max-height: 100%;
    fill: rgba(145,160,154, .8);
    &:hover{
        fill: $green;
    }
}
&__list{
    display: flex;
    width: 100%;
    justify-content: center;
    flex-wrap: wrap;
}
&__item + &__item{
    margin-left: 15px;
}
}




.welcome-btns{
    font-family: 'Roboto', Arial, Helvetica, sans-serif;
    color: #ffffff;
    font-size: 16px;
    font-weight: 500;
    font-style: normal;
    width: 100%;
    margin-top: auto;

    &__list{
        width: 100%;
        display: flex;
    
    }
 
    &__item{
        display: flex;
        flex-grow: 1;
        flex-wrap: wrap;
        width: 100%;
    }
    &__item:first-child > .welcome-btns__link{
        border-radius: 0 0 0 4px;
    } 
    
    &__item:last-child > .welcome-btns__link{
        border-radius: 0 0 4px 0;
    } 

    &__item + &__item{
        border-left: 2px solid rgba(255, 255, 255, 0.7);
    }



&__link{
    color: white;
    background-color: #618f55;
    padding: 15px 15px;
    display: flex;
    flex-grow: 1;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 100%;
    font-size: 16px;
    font-family: 'Roboto', Arial, Helvetica, sans-serif;
     font-weight: 400;
    font-style: normal;

    &:hover{
        background-color: #487e38;
    }
}

}

.welcome__footer{
    font-family: 'Roboto', Arial, Helvetica, sans-serif;
    color: #ffffff;
    font-weight: 400;
    font-style: normal;
    font-size: 15px;
}



.auth-title{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 40px;
}

.form{
    &__wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    }

    &-row {
        display: flex;
        flex-grow: 1;
        position: relative;
        width: 100%;
        margin-bottom: 19px;

        &__title{
            font-family: 'Roboto', Arial, Helvetica, sans-serif;
            font-weight: bold;
            font-style: normal;
            font-size: 16px;
        }
    }

    

    &__input{
        font-family: 'Roboto', Arial, Helvetica, sans-serif;
        font-weight: normal;
        font-style: normal;
        font-size: 16px;
        color: $gray;
        padding: 8px 10px 8px 40px;
        outline: none;
        border-radius: 25px;
        border: 0;
        width: 100%;
        height: 24px;
        background-color: #ffffff;
}
}

.title-underline_auth{
    padding-bottom: 24px;
    margin-bottom: 27px;
    font-weight: 300;
    color: white;
    &:after{
        border: 2px solid white;
    }
}

.login, .password
{
    position: relative;
}

.input-back{
    width: 15px;
    height: 15px;
    position: absolute;
    z-index: 200;
    left: 12px;
    top: 9px;
    fill: #c4cbcd;
}

.form-row__label{
    position: relative;
}
.form__input_login {
    position: absolute;
    background-repeat: no-repeat;
    background-size: cover;
    content: "";
    width: 36px;
    height: 40px;
    border-radius: 25px 0 0 25px;
    z-index: 100;
    top: 0px;
    left: -1px;
    background-color: #f0efe9;
}

.form__img{
    max-width: 100%;
    max-height: 100%;
}

.robot{

    &:checked {
        + .form__checkbox-fake:before{
            content: "";
            position: absolute;
            display: block;
            background: #8cc34b;
            top: 0px;
            left: 0px;
            width: 18px;
            height: 18px;
            border-radius: 10%;
        }
}
}
.form__checkbox-fake{
    width: 18px;
    height: 18px;
    background-color: #ffffff;
    position: relative;
    border-radius: 10%;
    margin-right: 15px;

    &:after{
        content: "";
    display: block;
    position: absolute;
    left: 6px;
    top: 1px;
    width: 6px;
    height: 11px;
    border: solid white;
    border-width: 0 2px 2px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
    }
}
.form__checkbox-fake-title{
    font-family: 'Robot', Arial, Helvetica, sans-serif;
    font-weight: normal;
    font-style: normal;
    font-size: 16px;
}

.check-label{
    display: flex;
    justify-content: center;
    align-items: center;
}



.radio-fake:checked + .form__radio-fake:after {
    content: "";
    position: absolute;
    display: block;
    background: #8cc34b;
    top: 5px;
    left: 5px;
    width: 10px;
    height: 10px;
    border-radius: 50%;

}

.form__radio-fake {
    width: 20px;
    height: 20px;
    background-color: #ffffff;
    position: relative;
    border-radius: 50%;
    margin-right: 10px;

    &-title{
        font-family: 'Roboto', Arial, Helvetica, sans-serif;
        font-weight: 500;
        font-style: normal;
        font-size: 16px;
    }
}

.form-column {
    display: flex;
    margin: 0 10px;
    position: relative;
    max-width: 100%;
    margin-bottom: 19px;
}

.check-label_margin-right{
    margin-right: 10px;
}

.welcome-front, .welcome-back{
        display: flex;
        flex-direction: column;
        align-items: center;
}
/* весь контейнер поддерживает перспективу */
.welcome-flip {
perspective: 1000px;
max-width: 85%;
min-width: 320px;
}
// /* переверните сторону при проведении мышью */
// .flip-container:hover .flipper, .flip-container.hover .flipper {
// transform: rotateY(180deg);
// }


/* здесь находится скорость перевертывания */
.flipper {
transition: 0.6s;
transform-style: preserve-3d;
position: relative;
}

/* скройте обратную сторону во время переворота */
.welcome-back {
backface-visibility: hidden;
position: absolute;
content: "";
top: 0;
left: 0;
width: 100%;
}
 
/* лицевая сторона размещена над обратной */
.welcome-front {
z-index: 2;
position: relative;
backface-visibility: hidden;
}
/* обратная, изначально скрытая сторона */

.welcome-back{
transform: rotateY(180deg);
}

.welcome-flip.flip .flipper {
    transform: rotateY(180deg);
    }

