extends ../base 
include ../../components/_mixins

block head
    title Добро пожаловать!

block wrapper
    .wrapper.wrapper-welcome
        +header('header-welcome')
        block content
            include ../../components/welcomeContent
        block footer
            +footer('footer-welcome')

    